<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addUser" method="post">
	    <input name="name" placeholder="이름" required />
	    <input name="email" placeholder="이메일" required />
	    <button type="submit">회원 등록</button>
	</form>
   <div>
        <h2>유저 목록</h2>
        <ul>
            <li th:each="user : ${userList}">
                <span th:text="${user.name}">이름</span> - 
                <span th:text="${user.email}">이메일</span>
            </li>
        </ul>
    </div>
</body>
</html>